LLM_API_URL=https://api.openai.com
LLM_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
LLM_MODEL_NAME=gpt-5.4-mini-2026-03-17
LLM_TEMPERATURE=0
#  legacy表示使用旧的生成方式，skill表示使用新的生成方式
REQUIREMENTSPACE_GENERATION_BACKEND=skill
SCENARIO_GENERATION_MAX_CONCURRENCY=5   # 场景生成的限流参数
KANO_SKILL_MAX_CONCURRENCY=5    # kano分析的限流参数